venv/
.venv-native/

__pycache__/

pretrained_models/

embeddings/

feature_extractor/model

exports/

build/
dist/

**/embeddings_cache/*.npy
datasets/raw/
build-wifakey-core/wifakey-core/target/

datasets/processed/*.npz
datasets/processed/**/*.npz
*.onnx
*.npz
datasets/processed/
**/embeddings_cache_arcface/
